<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FotoBlog</title>
  </head>
  <body>
    <h1>FotoBlog</h1>
    {% block content %}{% endblock %} {% if user.is_authenticated %}
    <p>Bonjour {{ user.username }} !</p>

    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Se déconnecter</button>
    </form>
    {% endif %}
  </body>
</html>
